<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <system.diagnostics>
    <switches>
      <add name="jni" value="4"/>
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>

        <!--<dllmap dll="jawt">
            <dllentry os="linux" wordsize="64" target="./libjawt.so"  />
            <dllentry os="linux" wordsize="32" target="./linux-x86/libjawt.so"  />
        </dllmap>
        <dllmap dll="lwjgl">
            <dllentry os="linux" wordsize="64" target="./liblwjgl64.so"  />
            <dllentry os="linux" wordsize="32" target="./liblwjgl.so"  />
        </dllmap>
        <dllmap dll="lwjgl64">
            <dllentry os="linux" wordsize="64" target="./liblwjgl64.so"  />
            <dllentry os="linux" wordsize="32" target="./liblwjgl.so"  />
        </dllmap>-->
</configuration>
