<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>


    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <system.diagnostics>
    <switches>
      <add name="jni" value="4"/>
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

    </assemblyBinding>
  </runtime>

  <dllmap dll="jawt" os="linux" wordsize="64" target="linux-x64/libjawt.so" />
  <dllmap dll="jawt" os="linux" wordsize="32" target="linux-x86/libjawt.so" />
</configuration>
